@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}


html {
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 20px;
    width: 20%;
    background-color: hsl(0, 0%, 100%);
    padding: 1.75%;
}

.content > .image > img {
    border-radius: 10px;
    max-width: 100%;
}

.content > .text-content > h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
    font-family: Outfit;
    font-weight: 700;
}

.content > .text-content > p {
    color: hsl(216, 15%, 48%);
}

@media screen and (orientation: portrait) {
    .container {
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        align-items: center;
    }

    .content {
        border-radius: 20px;
        width: 60%;
        background-color: hsl(0, 0%, 100%);
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
    }

    .text-content > h1 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .container {
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        align-items: center;
    }

    .content {
        border-radius: 20px;
        width: 80%;
        background-color: hsl(0, 0%, 100%);
        margin-left: auto;
        margin-right: auto;
        padding: 1.5%;
        display: flex;
        flex-direction: row;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5%;
    }

    .text-content > h1 {
        margin: 0;
    }

    .text-content {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 100vw;
        height: 100vh;
        background-color: hsl(212, 45%, 89%);
        display: flex;
        align-items: center;
    }

    .content {
        border-radius: 20px;
        width: 80%;
        background-color: hsl(0, 0%, 100%);
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
    }

    .text-content > h1 {
        font-size: 1rem;
    }

    .text-content > p {
        font-size: 0.85rem;
    }
}
