@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Outfit;
    src: url('fonts/Outfit-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 600;
}

html {
    font-family: Outfit, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    width: 20%;
    padding: 1.5%;
    box-shadow: 7px 7px 10px goldenrod;
    box-shadow: 0 0 20px cyan;
}

header > img {
    border-radius: 8px;
    box-shadow: 0 0 5px cyan;
    max-width: 100%;
}

header > h1 {
    font-family: Outfit;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    max-width: 100%;
}

header > h1:hover {
    cursor: pointer;
    font-family: Outfit;
    font-size: 1.4rem;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
    max-width: 100%;
}

main > p {
    color: hsl(215, 51%, 70%);
    max-width: 100%;
}

.eth > img {
    width: 11px;
    height: 18px;
}

.days-left > img {
    width: 16px;
    height: 16px;
}

.eth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth > p {
    color: hsl(178, 100%, 50%);
    font-family: Outfit;
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 7px;
}

.days-left > p {
    color: hsl(215, 51%, 70%);
    font-family: Outfit;
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 7px;
}

main > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer > img {
    width: 33px;
    height: 33px;
    max-width: 40%;
}

footer > p {
    color:hsl(215, 51%, 70%);
    font-family: Outfit;
    font-size: 0.8rem;
    font-weight: 300;
    padding-left: 7px;
}

.creator-name {
    color: white;
    font-family: Outfit;
    font-size: 0.8rem;
    font-weight: 300;
}

.creator-name:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
    font-family: Outfit;
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (orientation: portrait) {
    html {
        font-family: Outfit, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .container {
        background-color: hsl(217, 54%, 11%);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .content {
        background-color: hsl(216, 50%, 16%);
        border-radius: 16px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        box-shadow: 7px 7px 10px goldenrod;
        box-shadow: 0 0 20px cyan;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    html {
        font-family: Outfit, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .container {
        background-color: hsl(217, 54%, 11%);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        background-color: hsl(216, 50%, 16%);
        border-radius: 16px;
        box-shadow: 7px 7px 10px goldenrod;
        box-shadow: 0 0 20px cyan;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 2.5%;
        display: flex;
    }

    header {
        width: 40%;
    }

    .main-content {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    main > p {
        text-align: center;
    }

    .main-content > main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    main > section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-content > footer {
        display: flex;
        justify-content: center;
    }

    header > img {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-family: Outfit, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .container {
        background-color: hsl(217, 54%, 11%);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        background-color: hsl(216, 50%, 16%);
        border-radius: 16px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 3.5%;
        box-shadow: 7px 7px 10px goldenrod;
        box-shadow: 0 0 20px cyan;
    }
    
}


